<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6 well">
                <div class="area">
                  <%= form_for(:login, :url => login_path) do |f| %>
                    <h4> Login </h4>
                    <p>
                      <%= f.label "Username" %>
                      <%= f.text_field :user_name %>
                    </p>
                    <p>
                      <%= f.label :password %>
                      <%= f.password_field :password %>
                    </p>  
                    <p>
                    <%= f.submit("Login", :class => "btn btn-primary") %>
                    </p>
                    <p><%= link_to "Forgot password?", new_password_path %></p> 
                  <% end %>
                </div>                           
              </div>
        <div class="span6 well">
          <div class="area">
            <%= form_for User.new, :html => {:class => "form-horizontal"} do |f| %>
              <h4> Register </h4>
              <p>
              <%= f.label :first_name, "First Name" %>
              <%= f.text_field :first_name %>
              </p>
              <p>
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name %>
              </p>
              <p>
                <%= f.label :user_name, "User Name" %>
                <%= f.text_field :user_name %>
              </p>
              <p>
                <%= f.label :email, "E-mail" %>
                <%= f.text_field :email %>
              </p>
              <p>
                <%= f.label :password %>
                <%= f.password_field(:password) %>
              </p>  
              <p>
                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field(:password_confirmation) %>
              </p>
              <p>
              <%= f.submit("Sign Up", :class => "btn btn-success") %>
              </p>
          <% end %>
          </div>                            
        </div>
      </div>
  </div>
</div>




<!--<p><#%= link_to "Forgot password?", new_password_path %></p> --!>
